body {
  --white-background: #fff;
  --light-background: #f2f2f2;
  --normal-background: #e6e6e6;
  --dark-background: #d9d9d9;
  --lighter-area: #ccc;
  --light-area: #a6a6a6;
  --normal-area: #808080;
  --dark-area: #595959;
  --darker-area: #1a1a1a;
  --darkest-area: #000;
}

.navbar {
  display: flex;
  width: 100%;
}

.logo {
  background-color: var(--dark-area);
  height: 100px;
  width: 10%;
}

.menu {
  background-color: var(--normal-area);
  width: 80%;
  height: 100px;
  display: flex;
}

.searchbox {
  background-color: var(--dark-area);
  width: 10%;
  height: 100px;
}

.button {
  background-color: var(--dark-area);
  height: 50%;
  width: 10%;
  margin: auto;
}

.button:last-child {
  background-color: var(--darker-area);
}

.section1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 1fr 1fr;
  height: 700px;
  background-color: var(--light-background);
  margin-top: 0;
}

.article-title {
  background-color: var(--normal-background);
}

.article-title:first-child {
  background-color: var(--light-background);
}

.article-title:last-child {
  background-color: var(--dark-background);
}

#title-float {
  width: 30%;
  text-align: center;
  background-color: var(--darker-area);
  height: 100px;
  color: var(--white-background);
  margin-left: auto;
  margin-right: auto;
}

.section2 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  height: 400px;
  background-color: var(--normal-background);
}

.info {
  background-color: var(--lighter-area);
}

.image {
  background-color: var(--dark-area);
}

.section3 {
  background-color: var(--light-background);
  display: flex;
  flex-direction: column;
}

.section3-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.section3-flex div {
  flex-grow: 1;
  height: 300px;
  display: flex;
  flex-direction: row;
  background-color: var(--lighter-area);
  margin: 10px;
}

.section3-big {
  margin: 10%;
  display: flex;
  justify-content: space-between;
}

.section3-big .info {
  height: 400px;
  width: 30%;
}

.section3 .image {
  height: 400px;
  width: 60%;
}
.section4 {
  background-color:var(--normal-background) ;
  display: inline-flex;
  flex-flow: column;
  align-items: center;
  width: 100%;

}
.top-text {
  background-color: var(--light-area);
  height: 400px;
  width: 70%;
  /* width:30%; */
}
.lower-image {
  background-color: var(--darker-area);
  width: 30%;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
}
.section5 {
  background-color: var(--white-background);
  display: flex;
  width: 100%;
  height: 1200px;
  align-items: flex-start;

}
.top-part {
  display: grid;
  grid-template-columns: 1fr 3fr;
  width: 100%;
  grid-gap: 10px;

}
.thumbnails {
  display: grid;
  grid-template-columns: repeat(2,1fr 200px)
}
.left-image {
  background-color: var(--light-area);
  height: 250px
}
.right-text {
  background-color: var(--light-area);
}
