@import "fonts.css";

body {
  --white-background: #fff;
  --light-background: #f2f2f2;
  --normal-background: #e6e6e6;
  --dark-background: #d9d9d9;
  --lighter-area: #ccc;
  --light-area: #a6a6a6;
  --normal-area: #808080;
  --dark-area: #595959;
  --darker-area: #1a1a1a;
  --darkest-area: #000;
}

.navbar {
  display: flex;
  width: 100%;
}

.logo {
  background-color: var(--dark-area);
  height: 100px;
  width: 10%;
}

.menu {
  background-color: var(--normal-area);
  width: 80%;
  height: 100px;
  display: flex;
  text-align: center;
}

.searchbox {
  background-color: var(--dark-area);
  width: 10%;
  height: 100px;
}

.button {
  background-color: var(--dark-area);
  height: 50%;
  width: 10%;
  margin: auto;
  padding-top: 15px;
  border-radius: 11px;
}

.button:last-child {
  background-color: var(--darker-area);
}

.section1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 1fr 1fr;
  height: 700px;
  background-color: var(--light-background);
  margin-top: 0;
}

.article-title {
  background-color: var(--normal-background);
  display: flex;
  align-items: center;
  margin: 40px;
  font-family: 'Mija', sans-serif;
  padding: 50px;
}

.article-title:first-child {
  background-color: var(--normal-background);
  display: flex;
  align-items: center;
  margin: 40px;
}

.article-title:last-child {
  background-color: var(--dark-background);
  display: flex;
  align-items: center;
  margin: 40px;
}

#title-float {
  width: 30%;
  text-align: center;
  background-color: var(--darker-area);
  height: 100px;
  color: var(--white-background);
  margin-left: auto;
  margin-right: auto;
}

.section2 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  height: 400px;
  background-color: var(--normal-background);
}

.info {
  background-color: var(--lighter-area);
  padding: 60px;
  display: block;
  align-items: center;
  margin: 30px;
}

.image {
  background-color: var(--dark-area);
}

.section3 {
  background-color: var(--light-background);
  display: flex;
  flex-direction: column;
}

.section3-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.section3-flex div {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  background-color: var(--lighter-area);
  margin: 10px;
}

.section3-flex .text {
  display: block;
  padding: 30px;
}

.section3-big {
  margin: 10%;
  display: flex;
  justify-content: space-between;
  border-radius: 11px;
}

.section3-big .info {
  height: 300px;
  width: 30%;
  border-radius: 11px;
  padding-top: 150px;
}

.section3 .image {
  height: 400px;
  width: 60%;
  padding-top: 150px;
  justify-content: space-around;
  float: right;
}

.section4 {
  background-color: var(--normal-background);
  display: inline-flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
}

.top-text {
  background-color: var(--light-area);
  height: 400px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  padding: 90px;
}

.top-text p {
  display: flex;
  padding-top: 150px;
  align-items: center;
  justify-content: space-around;
}

.lower-image {
  background-color: var(--darker-area);
  width: 30%;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
}

.section5 {
  background-color: var(--white-background);
  display: flex;
  flex-flow: column;
  width: 100%;
}

.top-part {
  display: grid;
  grid-template-columns: 1fr 5fr;
  width: 100%;
  grid-gap: 10px;
  margin: 20px 10px 20px 10px;
}

.left-image {
  background-color: var(--normal-area);
}

.right-text {
  background-color: var(--light-area);
  padding: 10px;
  font-size: 20px;
}

.top-part .left-image {
  height: 300px;
}

.thumbnails {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.thumbnail {
  display: grid;
  grid-template-columns: 1fr 6fr;
  margin-top: 50px;
}

.section6 {
  background-color: var(--dark-background);
  display: flex;
}

.section6 .left-text {
  height: 300px;
  width: 60%;
  background-color: var(--normal-area);
  margin-top: 40px;
}

.section6 .left-text p {
  padding: 10px 50px 10px 50px;
}

.section6 .left-text h2 {
  padding: 10px 50px 10px 50px;
  text-align: left;
}

.section6 .book-image {
  width: 40%;
  height: 320px;
  background-color: var(--dark-area);
  margin-top: 20px;
}

.section7 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 2fr;
  grid-gap: 40px;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 50px;
  width: 80%;
}

.top-divs {
  height: 400px;
  background-color: var(--lighter-area);
  border-radius: 11px;
}

.top-divs .text {
  padding: 20px;
}

.bottom-divs {
  background-color: var(--light-area);
  border-radius: 11px;
}

.bottom-divs .text {
  padding: 20px;
  line-height: 2;
}

footer {
  background-color: var(--dark-background);
  margin-top: 20px;
}

.footer-menu {
  background-color: var(--light-area);
  width: 100%;
  padding-top: 200px;
}

.footer-menu ul {
  display: inline;
  padding: 10px;
  margin: 20px;
}

.footer-menu li {
  display: inline;
  font-family: "Elena", sans-serif;
}

.legal {
  display: flex;
  width: 100%;
}

.mini-image {
  width: 20%;
  background-color: var(--dark-area);
  margin-top: 100px;
  height: 200px;
}

.legal-text {
  background-color: var(--normal-area);
  width: 60%;
  text-align: center;
  padding-top: 100px;
}

.footer-text {
  display: block;
}
